<html op="posts">
  <head>

    <script>
        var startingNumber = 0;
        function AddValue() {
            startingNumber++;
            $(this).text(startingNumber);
        }
    </script>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/scss" href="posts.scss">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Hacker News</title>
  </head>

  <body>
    <center>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
          <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a>
                  <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid; background-color: transparent">
                  </a>
                </td>

                <td style="line-height:12pt; height:10px;">
                  <span class="pagetop">
                    <b class="hnname">
                      <a id="tipus" href="/">Hacker News</a>
                    </b>
                    <a id="tipus" href="/newest">new</a> |
                    <%if current_user %> <a id="tipus" href="/threads">threads</a> | <% end %>
                    <a id="tipus" href="/ask">ask</a> |
                    <% if current_user %>
                      <a id="tipus" href="/posts/new">submit</a>
                    <% else %>
                      <%= link_to "login", "/auth/google_oauth2", id: "sign_in", class: 'estiloCabecera' %>
                    <% end %>
                  </span>
                </td>

                <td style="text-align:right;padding-right:4px;">
                  <span class="pagetop">
                      <% if current_user %>

                        <a id="tipus" href="/users/<%= current_user.id %>"><%= current_user.name %></a> |
                        <%= link_to "logout", signout_path, id: "sign_out", class: 'estiloCabecera' %>

                      <% else %>
                        <%= link_to "login", "/auth/google_oauth2", id: "sign_in", class: 'estiloCabecera' %>
                      <% end %>
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table>
              <% i=1 %>
              <% @posts.each do |post| %>
                <tr>
                  <td><font color="grey" size="3"><%= i %>.</font></td>

                  <% if logged_in? && current_user.upvoted?(post) %>
                    <span class="upvote-post">
                    <td><%= link_to "unvote(upvote)", upvote_post_path(post), method: :post %></td>
                    </span>
                    <%elsif  logged_in? && !current_user.upvoted?(post)%>
                      <span class="upvote-post">
                      <td><%= link_to "upvote", upvote_post_path(post), method: :post %></td>
                      </span>
                  <%end%>
                  <% if logged_in? && current_user.downvoted?(post) %>
                    <span class="downvote-post">
                    <td><%= link_to "unvote(downvote)", downvote_post_path(post), method: :post %></td>
                    </span>
                    <%elsif  logged_in? && !current_user.downvoted?(post)%>
                      <span class="downvote-post">
                      <td><%= link_to "downvote", downvote_post_path(post), method: :post %></td>
                      </span>
                  <%end%>
                  <span class="points">
                  <td><%= pluralize(post.calc_hot_score, 'point') %> by <%= post.user_name%></td>
                  </span>
                  <td> <a class="estiloLink" href="<%= post.url != "" ? post.url : '/posts/' + post.id.to_s %>" ><%= post.title %></a></td>

                  <td><%= post.text %></td>
                  <td><a class="estiloLink" href="/users/<%= post.user_id %>"><%= post.user_name %></a></td>
                  <td><%= distance_of_time_in_words(Time.now, post.created_at) %></td>

                    <% if logged_in? && current_user.owns_post?(post) %>
                    <td><%= link_to 'Edit', edit_post_path(post), class: 'estiloLink' %></td>
                    <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} , class: 'estiloLink' %></td>
                  <%end%>
                  
                </tr>
                <tr>
                  <td>
                    <a class="estiloLink" href="/posts/<%= post.id %>"><%= Comment.where('post_id = ?', post.id).length%> comments</a>
                  </td>

                </tr>
                <% i = i+1 %>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
