<html op="posts">
  <head>

    <script>
        var startingNumber = 0;

        function AddValue() {
            startingNumber++;
            $(this).text(startingNumber);
        }

    </script>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/scss" href="posts.scss">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Hacker News</title>
  </head>

  <body>
    <center>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr>
          <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a>
                  <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;">
                  </a>
                </td>

                <td style="line-height:12pt; height:10px;">
                  <span class="pagetop">
                    <b class="hnname">
                      <a href="/">Hacker News</a>
                    </b>
                    <a href="/newest">new</a>
                    <a href="/ask">ask</a>
                    <% if current_user %>
                      <a href="/posts/new">submit</a>
                    <% else %>
                      <%= link_to "login", "/auth/google_oauth2", id: "sign_in" %>
                    <% end %>
                  </span>
                </td>

                <td style="text-align:right;padding-right:4px;">
                  <span class="pagetop">
                      <% if current_user %>
                        <a href="/users/<%= current_user.id =%>"><%= current_user.name =%></a> | 
                        <%= link_to "logout", signout_path, id: "sign_out" %>
                      <% else %>
                        <%= link_to "login", "/auth/google_oauth2", id: "sign_in" %>
                      <% end %>
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table>
              <% i=1 %>
              <% @posts.each do |post| %>
                <tr>
                  <td><font color="grey" size="3"><%= i %>.</font></td>
                  <td><%= post.points %></td>
                  <td> <i class="mdi-action-favorite red-text text-lighten-1"></i> <a href="#" onclick="AddValue()">0</a> </td>
                  <td> <a href="<%= post.url != "" ? post.url : '/posts/' + post.id.to_s %>" ><%= post.title %></a></td>
                  <td><%= post.text %></td>
                  <td><a href="/users/<%= post.user_id =%>"><%= post.user_name %></a></td>
                  <td><%= distance_of_time_in_words(Time.now, post.created_at) %></td>
                  <td><%= link_to 'Show', post %></td>
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                  <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
                <% i = i+1 %>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
