<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>User:</strong>-->
  <%#= @post.user_id %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @post.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Url:</strong>-->
  <%#= @post.url %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Text:</strong>-->
  <%#= @post.text %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Points:</strong>-->
  <%#= @post.points %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_post_path(@post) %> |-->
<%#= link_to 'Back', posts_path %>

<head>
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/scss" href="posts.scss">
  <link rel="shortcut icon" href="favicon.ico">
  <title><%= @post.title %> | Hacker News</title>
  <style>

    body {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 10pt;
      color: #828282;
    }

    td {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 10pt;
      color: #828282;
    }

    .admin td {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 8.5pt;
      color: #000000;
    }

    .subtext td {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 7pt;
      color: #828282;
    }

    input {
      font-family: monospace;
      font-size: 10pt;
    }

    input[type=\"submit\"] {
      font-family: Verdana, Geneva, sans-serif;
    }

    textarea {
      font-family: monospace;
      font-size: 10pt;
    }

    #hnmain {
      border: #000000;
      padding: 0;
      border-spacing: 0;
      border-collapse: separate;
      width: 85%;
      background-color: #f6f6ef;
    }

    #tableheader {
      border: #000000;
      padding: 2px;
      border-spacing: 0;
      border-collapse: separate;
      width: 100%;
    }

    #linkselected {
      color: #ffffff;
    }

    a:link {
      color: #000000;
      text-decoration: none;
    }

    a:visited {
      color: #828282;
      text-decoration: none;
    }

    a:hover {
      background-color: transparent
    }

    #reply:link {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 7pt;
      color: #000000;
      text-decoration: underline;
    }

    #reply:visited {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 7pt;
      color: #828282;
      text-decoration: underline;
    }

    .title {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 10pt;
      color: #828282;
    }

    .subtext {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 7pt;
      color: #828282;
    }

    .pagetop {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 10pt;
      color: #222222;
    }

    .comhead {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 8pt;
      color: #828282;
    }

    .comment {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 9pt;
      color: #000000;
    }

    .hnname {
      margin-right: 5px;
    }

    .comment a:link, .comment a:visited {
      text-decoration: underline;
    }

    .noshow {
      display: none;
    }

    .nosee {
      visibility: hidden;
      pointer-events: none;
      cursor: default
    }

    .pagetop a:visited {
      color: #000000;
    }

    .subtext a:link, .subtext a:visited {
      color: #828282;
    }

    .subtext a:hover {
      text-decoration: underline;
    }

    .comhead a:link, .subtext a:visited {
      color: #828282;
    }

    .comhead a:hover {
      text-decoration: underline;
    }

    .default p {
      margin-top: 8px;
      margin-bottom: 0px;
    }

    pre {
      overflow: auto;
      padding: 2px;
    }

    pre:hover {
      overflow: auto
    }

    .rotate180 {
      -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
      -moz-transform: rotate(180deg); /* FF */
      -o-transform: rotate(180deg); /* Opera */
      -ms-transform: rotate(180deg); /* IE9 */
      transform: rotate(180deg); /* W3C complaint browsers */

      /* IE8 and below */
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand')";
    }
  </style>
</head>

<body>
<center>
  <table id="hnmain">
    <tr>
      <td style="background-color: #ff6600">
        <table id="tableheader">
          <tr>
            <td style="width:18px;padding-right:4px">
              <a href="/">
                <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid; background-color: transparent">
              </a>
            </td>

            <td style="line-height:12pt; height:10px;">
              <span class="pagetop">
                <b class="hnname">
                  <a href="/">Hacker News</a>
                </b>
                <a href="/newest">new</a> |
                <% if current_user %> <a href="/threads">threads</a> | <% end %>
                <a href="/ask">ask</a> |
                <% if current_user %>
                  <a href="/posts/new">submit</a>
                <% else %>
                  <%= link_to "login", "/auth/google_oauth2", id: "sign_in" %>
                <% end %>
              </span>
            </td>

            <td style="text-align:right;padding-right:4px;">
              <span class="pagetop">
                <% if current_user %>

                  <a href="/users/<%= current_user.id %>"><%= current_user.name %></a> |
                  <%= link_to "logout", signout_path, id: "sign_out" %>

                <% else %>
                  <%= link_to "login", "/auth/google_oauth2", id: "sign_in" %>
                <% end %>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height:10px"></tr>
    <tr>
      <td>

        <div style="margin-left:20px">
          <% if logged_in? && current_user.upvoted?(@post) && current_user.id != @post.user_id %>
            <%= link_to image_tag("arrow_down.png", border: 0, width: 10), upvote_post_path(@post), method: :post %>
          <% elsif logged_in? && !current_user.upvoted?(@post) && current_user.id != @post.user_id %>
            <%= link_to image_tag("arrow_up.png", border:0, width: 10), upvote_post_path(@post), method: :post %>
          <% end %>
      <!--<%#if logged_in? && current_user.downvoted?(post) %>
            <%#= link_to image_tag("arrow_down.png", border: 0, width: 10), downvote_post_path(post), class: 'estiloLink' , method: :post %>
          <%#elsif  logged_in? && !current_user.downvoted?(post)%>
            <%#= link_to image_tag("arrow_down.png", border: 0, width: 10), downvote_post_path(post), class: 'estiloLink' , method: :post %>
          <%#end%>-->
          <a href="/posts/<%= @post.id %>">
            <%= @post.title %>
          </a>
          <br>
          <span class="subtext">
            <%= pluralize(@post.points, 'point') %> by <a href="/users/<%= @post.user.id %>">
            <%= @post.user.name %></a>
            |
            <a href="/posts/<%= @post.id %>"><%= distance_of_time_in_words(Time.now, @post.created_at) %></a>
            |
            <a href="/posts/<%= @post.id %>"><%= Comment.where('post_id = ?', @post.id).length %>
              comments</a>
            <% if logged_in? && current_user.owns_post?(@post) %>
              |
              <%= link_to 'Edit', edit_post_path(@post) %>
              |
              <%= link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
          </span>

          <p><%= @post.text %></p>
        </div>

        <div style="margin-left:20px">
          <%# if logged_in? && !current_user.owns_post?(@post)  %>
          <% if logged_in? %>
            <form action="/comments" method="POST" id="comment_content_form">

              <input type="hidden" name="comment[user_id]" value=<%= current_user.id %>>
              <input type="hidden" name="comment[post_id]" value=<%= @post.id %>>
              <textarea name="comment[content]" value="" form="comment_content_form" style="min-width:500px;min-height:100px"></textarea>
              <br>
              <br>
              <input type="submit" value="add comment">
            </form>
          <%end%>
        </div>

        <br>
        <br>

        <%# @comments = Comment.where("post_id=?", @post.id).order("created_at DESC") %>
        <% @comments.each do |comment| %>
        <div style="margin-left:20px">
          <table>
            <tr>
              <td class="subtext">
                <% if logged_in? && current_user.upvoted_comment?(comment) && current_user.id != comment.user_id %>
                  <%= link_to image_tag("arrow_down.png", border: 0, width: 10), upvote_comment_path(comment), method: :post %>
                <%elsif  logged_in? && !current_user.upvoted_comment?(comment) && current_user.id != comment.user_id %>
                  <%= link_to image_tag("arrow_up.png", border:
                      0, width: 10),upvote_comment_path(comment), method: :post %>
                <%end%>
                <%# if logged_in? && current_user.downvoted_comment?(comment) %>
                  <%#= link_to image_tag("arrow_down.png", border: 0, width: 10), downvote_comment_path(comment), method: :post %>
                <%#elsif  logged_in? && !current_user.downvoted_comment?(comment)%>
                  <%#= link_to image_tag("arrow_down.png", border: 0, width: 10), downvote_comment_path(comment), method: :post %>
                <%#end%>
                <%= pluralize(comment.points, 'point') %> by <%= comment.user.name%> by
                <a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a>
                <a href="/comments/<%= comment.id %>"><%= distance_of_time_in_words(Time.now, comment.created_at) %></a>
                <% if logged_in? && current_user.id == comment.user_id  %>
                  |
                  <%= link_to 'Edit', edit_comment_path(comment) %>
<!--                  |-->
                  <%#= link_to 'Delete', comment, method: :delete, data: {confirm: 'Are you sure?'} %>
                <%end%>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td style="color:black;"> <%= comment.content %></td>
            </tr>
          </table>
          <% if current_user %>
            <a id="reply" href="/comments/<%= comment.id %>">reply</a>
          <%end%>
        </div>

          <% @replies = Reply.where("comment_id=?", comment.id).order("created_at DESC") %>
          <% @replies.each do |reply| %>
            <div style="color:black;margin-left:60px">
              <table>
                <tr>

                  <td class="subtext">
                    <a href="/users/<%= reply.user.id %>"><%= reply.user.name %></a>

                    <%= distance_of_time_in_words(Time.now, reply.created_at) %>

                    <% if logged_in? && current_user.id == reply.user_id %>
                      |
                      <%= link_to 'Edit', edit_reply_path(reply) %>
<!--                      |-->
                      <%#= link_to 'Delete', reply, method: :delete, data: {confirm: 'Are you sure?'} %>
                    <% end %>
                  </td>

                </tr>
              </table>
              <table>
                <tr>
                  <td style="color:black;"> <%= reply.content %></td>
                </tr>
              </table>
            </div>
          <% end %>
          <br>
          <% end %>
      </td>
    </tr>
  </table>
</center>
</body>
