<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
<!--  <strong>User:</strong>-->
  <%#= @post.user_id %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
  <%#= @post.title %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Url:</strong>-->
  <%#= @post.url %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Text:</strong>-->
  <%#= @post.text %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Points:</strong>-->
  <%#= @post.points %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_post_path(@post) %> |-->
<%#= link_to 'Back', posts_path %>

<head>
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/scss" href="posts.scss">
  <link rel="shortcut icon" href="favicon.ico">
  <title><%= @post.title %> | Hacker News</title>
</head>

<body>
<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tr>
      <td bgcolor="#ff6600">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
          <tr>
            <td style="width:18px;padding-right:4px">
              <a>
                <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid; background-color: transparent">
              </a>
            </td>

            <td style="line-height:12pt; height:10px;">
                      <span class="pagetop">
                        <b class="hnname">
                          <a id="tipus" href="/">Hacker News</a>
                        </b>
                        <a id="tipus" href="/newest">new</a> |
                        <% if current_user %> <a id="tipus" href="/threads">threads</a> | <% end %>
                        <a id="tipus" href="/ask">ask</a> |
                        <% if current_user %>
                          <a id="tipus" href="/posts/new">submit</a>
                        <% else %>
                          <%= link_to "login", "/auth/google_oauth2", id: "sign_in", class: 'estiloCabecera' %>
                        <% end %>
                      </span>
            </td>

            <td style="text-align:right;padding-right:4px;">
                      <span class="pagetop">
                          <% if current_user %>
                            <a id="tipus" href="/users/<%= current_user.id %>"><%= current_user.name %></a> |
                          <%= link_to "logout", signout_path, id: "sign_out", class: 'estiloCabecera' %>
                          <% else %>
                            <%= link_to "login", "/auth/google_oauth2", id: "sign_in", class: 'estiloCabecera' %>
                          <% end %>
                      </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height:10px"></tr>
    <tr>
      <td>

        <div>
          <a id="tipus" href="/posts/<%= @post.id %>">
            <%= @post.title %>
          </a>
          <br>
          submitted by <a  class="estiloLink" href="/users/<%= @post.user.id %>">
          <%= @post.user.name %></a>
        </div>

        <div style="margin-left:20px">
          <% if current_user %>
            <form action="/comments" method="POST" id="comment_content_form">

                <input type="hidden" name="comment[user_id]" value=<%= current_user.id %>>
                <input type="hidden" name="comment[post_id]" value=<%= @post.id %>>
                <textarea name="comment[content]" value="" form="comment_content_form" style="min-width:500px;min-height:100px"></textarea>
                <br>
                <input type="submit" value="add comment">
            </form>
          <%end%>

          <%#= form_for(@comment) do |f| %>

            <%#= f.hidden_field :post_id, value: @post.id %>
            <%#= f.hidden_field :user_id, value: current_user.id %>

<!--            <div class="field">-->
              <%#= f.label :content %>
              <%#= f.text_area :content, id: :comment_content %>
<!--            </div>-->

<!--            <div class="actions">-->
              <%#= f.submit %>
<!--            </div>-->
          <%# end %>
        </div>

        <%# @comments = Comment.where("post_id=?", @post.id).order("created_at DESC") %>
        <% @comments.each do |comment| %>
        <div style="margin-left:10px">
          <table>
            <tr>
              <% if logged_in? && current_user.upvoted_comment?(comment)  && current_user.id != comment.user_id%>

                <td><%= link_to image_tag("arrow_down.png", border:
                                          0), upvote_comment_path(comment), class: 'estiloLink' , method: :post %></td>

                <%elsif  logged_in? && !current_user.upvoted_comment?(comment)  && current_user.id != comment.user_id%>

                  <td><%= link_to image_tag("arrow_up.png", border:
                      0), upvote_comment_path(comment), class: 'estiloLink' , method: :post %></td>

              <%end%>

                <%= pluralize(comment.points, 'point') %> by <a  class="estiloLink" href="/users/<%= comment.user.id %>">
                <%= comment.user.name %></a>

                <%= distance_of_time_in_words(Time.now, comment.created_at) %>

            </tr>
          </table>
          <table>
            <tr>
              <td style="color:grey;"> <%= comment.content %></td>
            </tr>
          </table>
          <% if current_user %>
            <a class="estiloLink" href="/comments/<%= comment.id %>">reply</a>
          <%end%>
        </div>

          <% @replies = Reply.where("comment_id=?", comment.id).order("created_at DESC") %>
          <% @replies.each do |reply| %>
            <div style="color:grey;margin-left:25px">
              <table>
                <tr>
                  <% if logged_in? && current_user.upvoted_reply?(reply)  && current_user.id != reply.user_id%>

                    <td><%= link_to image_tag("arrow_down.png", border:
                                              0), upvote_reply_path(reply), class: 'estiloLink' , method: :post %></td>

                    <%elsif  logged_in? && !current_user.upvoted_reply?(reply)  && current_user.id != reply.user_id%>

                      <td><%= link_to image_tag("arrow_up.png", border:
                          0), upvote_reply_path(reply), class: 'estiloLink' , method: :post %></td>

                  <%end%>
                    <%= pluralize(reply.points, 'point') %> by <a  class="estiloLink" href="/users/<%= reply.user.id %>">
                    <%= reply.user.name %></a>
                    <%= distance_of_time_in_words(Time.now, reply.created_at) %>

                    </tr>
              </table>
              <table>
                <tr>
                  <td> <%= reply.content %></td>
                </tr>
              </table>
            </div>
          <% end %>
          <br>
          <% end %>
      </td>
    </tr>
  </table>
</center>
</body>
